:root {
	--background-color: white;
	--header-color: ;
	--navbar-color: #395B64;
	--experimental-color: #393E46;
	--text-color: white;
	--accent-color: #60B45A;
	--header-gradient: linear-gradient(to bottom left, #04B79C, #A4FCBC);
	--nav-separator-height: 40px;
	--text-font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

	--featured-text-color: #;
	

	--main-content-width: 1398px;
	
	--sub-nav-color: #E7F6F2;
	--sub-nav-color-hover: #bcccc8;
	--border-color: #e2e2e2;
	--price-color: #395B64;

	--slideshow-btn-color: #9bcfdd;
}

.dark-theme {
	--background-color: black;
	--header-color: ;
	--text-color: white;
	--accent-color: #60B45A;
	--navbar-color: black;
	--header-gradient: linear-gradient(to bottom right, #04B79C, #A4FCBC);
	--nav-separator-height: 40px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: var(--text-font-family)
}

body {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: var(--background-color);
	min-width: 483px;
}

p {
	font-size: 16px;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: var(--navbar-color);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a:visited {
	color: var(--navbar-color);
}




input:disabled {
	color: #ccc;
}

button {
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

